<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Indexpage</title>
</head>
<body>
    <form action="{% url 'register'  %}" method="POST">
        {% csrf_token %}
        <label for="">Name:</label>
        <br>
        <input type="text" name="name">
        <br>
        <label for="">Email:</label>
        <br>
        <input type="email" name="Email">
        <br>
        <label for="">DateofBirth:</label>
        <br>
        <input type="Date" name="dateofbirth">
        <br>
        <label for="">Phone:</label>
        <br>
        <input type="text" name="phone">
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <div class="">
        {% for message in messages %}
        <span> {{message}}</span>
        {% endfor %}
    </div>

</body>
</html>